<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <div class="contenido">
            <header th:replace="layout/plantilla :: header" />
            <h1>Sugerencias de Lugares</h1>
            <a th:href="@{/sugerencia/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nueva Sugerencia</a>

            <div th:if="${sugerencias != null and !sugerencias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Direccion</th>
                            <th>Creada por</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sugerencia : ${sugerencias}">
                            <td th:text="${sugerencia.direccion}"></td>
                            <td th:text="${sugerencia.usuario.nombre}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/sugerencia/eliminar/} + ${sugerencia.idSugerencia}">Eliminar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/sugerencia/modificar/} + ${sugerencia.idSugerencia}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>   
            </div>

            <div th:if="${sugerencias == null or sugerencias.empty}">
                <h2>No existen sugerencias actualmente</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
