<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>Datos de Usuario</h2>

            <a th:href="@{/usuario/listado}">Regresar</a>

            <form th:action="@{/usuario/guardar}"
                  method="post"
                  th:object="${usuario}">
                <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                <input type="hidden" name="cedula" th:field="*{empresa.cedula}"/>
                <input type="hidden" name="telefono" th:field="*{empresa.telefono}"/>
                <input type="hidden" name="direccion" th:field="*{empresa.direccion}"/>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br/>

                <label for="primerApellido">Primer Apellido:</label>
                <input type="text" name="primerApellido" th:field="*{primerApellido}"/>
                <br/>

                <label for="segundoApellido">Segundo Apellido:</label>
                <input type="text" name="segundoApellido" th:field="*{segundoApellido}"/>
                <br/>

                <label for="nombreUsuario">Usuario:</label>
                <input type="text" name="nombreUsuario" th:field="*{nombreUsuario}"/>

                <br/>

                <label for="clave"></label>
                <input type="hidden" name="clave" th:field="*{clave}"/>

                <br/>

                <label  for="correo">Correo:</label>
                <input type="email" name="correo" th:field="*{correo}"/>

                <br/>
                
<!--                <label for="empresa">Empresa:</label>
                <input type="text" name="empresa" th:field="*{empresa.nombre}"/>

                <br/>-->
                
                <div>
                    <label >Empresa: </label>
                    <select th:field="*{empresa.idEmpresa}">
                        <option th:each="empresa : ${empresas}" th:value="${empresa.idEmpresa}" th:text="${empresa.nombre}"
                                th:selected="${usuario.empresa.idEmpresa} == ${empresa.idEmpresa} ? true : false"
                                ></option>
                    </select>
                </div>
                               
                <div>
                    <label >Rol: </label>
                    <select th:field="*{rol.idRol}">
                        <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.descripcion}"
                                th:selected="${usuario.rol.idRol} == ${rol.idRol} ? true : false"
                                ></option>
                    </select>
                </div>

                <label for="fechaNacimiento">Fecha Nacimiento:</label>
                <input type="text" name="fechaNacimiento" th:field="*{fechaNacimiento}"/>

                <br/>
                <input type="submit" name="guardar" value="Guardar"/>           
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
