<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>Listado de Empresas</h2>

            <a th:href="@{/empresa/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Empresa</a>
            <div th:if="${empresas !=null and !empresas.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empresa : ${empresas}">
                            <td th:text="${empresa.nombre}"></td>
                            <td th:text="${empresa.cedula}"></td>
                            <td th:text="${empresa.telefono}"></td>
                            <td th:text="${empresa.direccion}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/empresa/eliminar/} + ${empresa.idEmpresa}">Eliminar</a> </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/empresa/modificar/} + ${empresa.idEmpresa}">Modificar</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${empresas ==null or empresas.empty}">
                No tenemos lista de empresas que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>



    </body>
</html>
