<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">


    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>Datos de Empresa</h2>

            <a th:href="@{/empresa/listado}">Regresar</a>

            <form th:action="@{/empresa/guardar}"
                  method="post"
                  th:object="${empresa}">
                <input type="hidden" name="idEmpresa" th:field="*{idEmpresa}"/>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br/>

                <label for="cedula">Cedula:</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br/>

                <label for="telefono">Telefono:</label>
                <input type="text" name="telefono" th:field="*{telefono}"/>
                <br/>

                <label for="direccion">Direccion: </label>
                <input type="text" name="direccion" th:field="*{direccion}"/>

                <br/>
                <input type="submit" name="guardar" value="Guardar"/>           
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
