<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <div class="contenido">
            <header th:replace="layout/plantilla :: header" />
            <h1>Rutinas recomendadas</h1>
            <a th:href="@{/rutina/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nueva Rutina</a>
            <a th:href="@{/calentamiento/listado}">Calentamientos</a>

            <div th:if="${rutinas != null and !rutinas.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rutina : ${rutinas}">
                            <td th:text="${rutina.descripcion}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/rutina/eliminar/} + ${rutina.idRutina}">Eliminar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/rutina/modificar/} + ${rutina.idRutina}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>   
            </div>

            <div th:if="${rutinas == null or rutinas.empty}">
                <h2>No se han agregado rutinas</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
