<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <div class="contenido">
            <header th:replace="layout/plantilla :: header" />
            <h1>Calentamientos recomendados</h1>
            <a th:href="@{/calentamiento/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Calentamiento</a>

            <div th:if="${calentamientos != null and !calentamientos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="calentamiento : ${calentamientos}">
                            <td th:text="${calentamiento.descripcion}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/calentamiento/eliminar/} + ${calentamiento.idCalentamiento}">Eliminar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/calentamiento/modificar/} + ${calentamiento.idCalentamiento}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>   
            </div>

            <div th:if="${calentamientos == null or calentamientos.empty}">
                <h2>No se han agregado calentamientos</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
