<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">


    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>Listado de Rols</h2>

            <a th:href="@{/rol/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Rol</a>
            <div th:if="${rols !=null and !rols.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rol : ${rols}">
                            <td th:text="${rol.descripcion}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/rol/eliminar/} + ${rol.idRol}">Eliminar</a> </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/rol/modificar/} + ${rol.idRol}">Modificar</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${rols == null or rols.empty}">
                No tenemos lista de rols que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>



    </body>
</html>
