<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">


    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <div class="contenido">
            <header th:replace="layout/plantilla :: header" />
            <h1>Traficos</h1>
            <a th:href="@{/trafico/nuevo}">Nuevo Reporte de Trafico</a>

            <div th:if="${traficos != null and !traficos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Hora del Reporte</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="trafico : ${traficos}">
                            <td th:text="${trafico.descripcion}"></td>
                            <td th:text="${trafico.hora}"></td>
                            <td><a th:href="@{/trafico/eliminar/} + ${trafico.idTrafico}">Eliminar</a></td>
                            <td><a th:href="@{/trafico/modificar/} + ${trafico.idTrafico}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${traficos == null or traficos.empty}">
                <h2>No se han agregado reportes de trafico</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
