<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div>Proyecto Web y Patrones</div>

        <a th:href="@{/sugerencia/listado}">Sugerencias</a>
        <a th:href="@{/usuario/listado}">Usuarios</a>
        <a th:href="@{/rol/listado}">Roles</a>
        <a th:href="@{/empresa/listado}">Empresas</a>
        <a th:href="@{/rutina/listado}">Rutinas</a>
        <a th:href="@{/calentamiento/listado}">Calentamientos</a>



        <h1>PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA PRUEBA </h1>

        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
