<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header(items=${cantidadProductos})" />
        <h2>Proyecto Web y Patrones</h2>
        <br/>
        <div th:each="articulo : ${articulos}">
            <card class="card">
                <span th:text="${articulo.descripcion}"></span>
                <a th:href="@{carrito/agregar/} + ${articulo.idArticulo}">Comprar</a>
            </card>
        </div>
    </body>
</html>
