<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Alerta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
        <h1>Datos de Alertas</h1>
        <a th:href="@{/}">Regresar</a>
        
        <form th:action="@{/alerta/guardar}"
              method="post"
              th:object="${alerta}">
            <input type="hidden" name="idAlerta" th:field="*{idAlerta}"/>
            <label for="mensaje">Mensaje</label>
            <input type="text" name="mensaje" th:field="*{mensaje}"/>
            <br/>
            <label for="nivel">Nivel</label>
            <input type="number" name="nivel" th:field="*{nivel}"/>
            <br/>
            
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
        </div>
    </body>
</html>